* {
    box-sizing: border-box;
  }

body {
            font-family: Arial;
            padding: 10px;
            background-color: white;
        }


        /* column */
        /* left column */
        .leftcolumn01 {
            float: left;
            width: 30%;
            background-color: white;
            margin-top: 40px;
        }

        /* right column */
        .rightcolumn01 {
            float: left;
            width: 70%;
            background-color: white;
            padding-left: 30px;
        }

        /* left column */
        .leftcolumn02 {
            float: left;
            width: 70%;
            background-color: white;
        }

        /* right column */
        .rightcolumn02 {
            float: left;
            width: 30%;
            background-color: white;
            padding-left: 30px;
            margin-top: 40px;
        }


        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width: 1400px) {
            .leftcolumn01, .rightcolumn01, .leftcolumn02, .rightcolumn02 {
                width: 100%;
                padding: 0;
            }
        }


        }